
{%extends "layout.html"%}



{%block body%}
<h2>{{quotes}}</h2>
<h3>{{names}}</h3>
<h4>{{countries}}</h4>
      <h1>Hade Al Maqadma </h1>

       <div class="Milk">       
        <h2>&nbsp; future dreams </h2>

         <ol>
          <li>I want to be a doctor</li>
          <li>I want to see palestine in a immoratal peace</li>
          <li>I dream to study outside gaza</li>
        </ol>
      </div>
<img class="image" src="../static/images/15622508_1659192994378854_8020730468335535075_n.jpg" width="outo"> </img>
      <p>my name is hade Im 16 years old </p>

      <a href="https://www.facebook.com/profile.php?id=100008645086499">visit my facebook account </a> 

{%endblock%}





